#kepre{
    width: 200px;
height: 150px;
margin-top: 0px;
}


#kezdes{
    text-align: center;
    color:black;
    padding: 20px;
}

#sorolas{
    color:dodgerblue;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    width: 650px;
    border: 5px #333;
    padding: 50px;
    margin: 20px;
    text-align: center;
    background-color: #333;

}

#sorolaskezdes{
    color:dodgerblue;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    width: 200px;
    border: 5px #333;
    padding: 50px;
    margin: 20px;
    text-align: center;
    background-color: #333;

}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

#kezdolap, #parancsok, #rolunk {
    margin-bottom: 40px;
}

#kkkk{
    text-align: center;
    padding: 20px;

}

#pepe{
    text-align: center;
    font-style: italic;
    font-size:700;
    
}

.profile-container {
    background-image: url(pet1.jpg);
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 150px;
    border: 1px solid #333
}

.profile {
    
    max-width: 30%;
}

.command-box {
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    border-radius: 5px;
    padding-right: 0px;
    text-align: center;
    font-size: larger;
    padding-top: 50px;
}

.command {
    font-family: monospace;
    margin-bottom: 10px;
    color:white;
    text-align: center;
}

#kepborito{
    border: #333 5px solid 
}

.button-invite {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
background-color: dodgerblue;
width: 200px;
height: 50px;
font-size: 20px;
font-weight: 700;
line-height: 36px;
color: white;
z-index: 1;
font-family: Arial, Helvetica, sans-serif;
margin-right: 20px;
border-radius: 5px;
text-decoration: none;
}

#valami{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 17%;
    transition: 1s;
}
#valami img{
    display: block;
    width: 100%;
    border-radius: 5px;
}

#valami:hover{
transform: scale(1.1);
z-index: 2;
}

.indexbetuk {
    color: #333;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 650;
    text-align: center;

}

.body-color{
    background-color: rgb(49, 175, 255);
}

.nevek{
    text-align: center;
    font-weight: 750;
    font-style: oblique;
    color:aqua
}

.mostra{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 800;
    padding: 5px;
    text-decoration: underline;
    font-weight: 600;
}
.dar{
    margin-left: 50px;
}
.bar{
    margin-right: 20px;
}

.nagybau{
    background-image: url(dc.png);
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 150px;
    border: 1px solid #333
}

.lii{
    text-align: center;
    color: white;
    font-size: 800;
    font-weight: 600;
    padding: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: underline;
}

.pepepopo{
    background-image: url(indexbg.jfif);
    padding: 101px;
    border: 1px solid #333;
}

.ww {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 650;
    text-align: center;

}

.ujh1{
    text-align: center;
    padding-top: -10px;
    padding-bottom: 0px;
    font-size: 40px;
}

.ujh2{
    text-align: justify;
    color: #333;
    text-align: center;
    padding: 10px;
    font-size: 40px;
}

.ujh2bot{
    text-align: justify;
    color: #333;
    text-align: left;
    padding: 10px;
    font-size: 40px;
}
.ujh2jatek{
    text-align: justify;
    color: #333;
    text-align: right;
    padding: 10px; 
    font-size: 40px;
}

.pjobb{
    text-align: right;
    color: #333;
    text-decoration:underline overline;
    font-size: 20px;
    transition: 0.3s;
}

.pbal{
    text-align: left;
    color: #333;
    text-decoration:underline overline;
    font-size: 20px;
    transition: 0.3s;
}

.pkozep{
    text-align: center;
    color: #333;
    text-decoration:underline overline;
    font-size: 20px;
    transition: 0.3s;
}

.ppkepre{
    width: 400px;
    height: auto;
    padding: 10px;
    max-width: 400px;
    transition: 0.3s;
}

.ppkepre img{
    display: block;
    width: 100%;
    border-radius:5px ;
}

.ppkepre:hover{
    transform: scale(1.2);
    z-index: 2;
}

.footer-city {
    text-decoration: none;
    color: white;
    width: auto;
    position: relative;
    transition: 0.5s;
    text-align: center;
}

.hattergyik{
    background-image: url(peee.jpg);
    padding: 100px;
    border: 1px solid #fff
}

.div1{
    text-align: center;
    color: #fff;
    font-size: larger;
    font-variant: small-caps;
}

.kemenydiv{
    text-align:center;
    padding: -10px;
    font-size: 40px;
    color:#fff;
}
.dcc{
    text-align: center;
    font-size: 40px;
    color:#fff;
    font-weight: 700;
    padding-left: 10px;
}

.t3hatter{
    background-image: url(ujb.jpg);
    border: 1px solid #fff;
    padding: 500px;
}

.gyorkekep{
    padding-left: 150px;
}

.parsec{
    text-align: center;
    color: white;
    font-size: 800;
    font-weight: 600;
}

#hatterss{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 250px;
    height: auto;
    padding: 2px 10px;
    min-width: 100px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

#hatterss img{
    display: block;
    width: 100%;
    border-radius:5px;
}

#hatterss:hover{
    transform: scale(1.5);
    z-index: 2;
}
.h1okos{
    color: white;
    font-size: 2vw;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

ul li ul.dropdown li{
    display: block;
}
ul li ul.dropdown{
    width: 100%;
    background-color:  #333;
    position: absolute;
    z-index: 999;
    display: none;
}
ul li a:hover{
    background: #333;
}
ul li:hover ul.dropdown{
    display: block;
}
.miniimage{
    width: 20px;
    border-radius: 20%;
    border: 20px;
}
.wensi{
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2s;
    cursor: .4s step-end infinite alternate;
    -webkit-text-stroke: 0.03vw #25AFFE;
}

@keyframes cursor{
    50%{ border-color: transparent;}
}

@keyframes typing{
    from {width: 0;}
}

.hattereaster{
    background-image: url(268451.jpg);
    border: 1px solid #fff;
    padding: 100px;
}

.ujjj{
    rotate: 30deg;
}

.ujh11{
    text-align: center;
    padding: 10px;
    font-size: 40px;
    padding-top: 50px;
    padding-bottom: 30px;
    color: #fff;
}

.easter{
    text-align: center;
    color: #fff;
    padding-top: 20px ;
    padding-bottom:20px ;
}

.geri{
    margin: auto;
    margin-left: auto;
    display: block;
    margin-right: auto;
    width: 200px;
    animation: typing 2s;
    cursor: .4s step-end infinite alternate;
}

.geri img{
    display: block;
    width: 100%;
    border-radius:5px ;
}

.geri:hover{
    transform: scale(11.5);
    z-index: 2;
}

.easters{
    text-align: center;
    color: #fff;
    padding-top: 20px ;
    padding-bottom:20px ;
    border: 10px black;
    padding: 10px;
    margin: 10px;
    width: 100%;
}

.lenyilo{
    width: auto;
    position: relative;
    border-radius: 20%;
}

.lenyilo a{
    transition: 0.3s;
    flex-wrap: nowrap;
    margin: 0 auto;
    cursor: pointer;
    align-items: center;
    justify-content: space-between;
}

.lenyilo a:hover{
    background-color: #25AFFE;
    text-decoration: none;
    color: #fff;
    padding: 2px;
    border-radius: 2%;
}

.liia{
    text-align: center;
    color: white;
    font-size: 800;
    font-weight: 600;
    padding: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: underline;
    display: block;
    transition: 0.3s;
}

.liia a{
    flex-wrap: nowrap;
    margin: 0 auto;
    cursor: pointer;
    align-items: center;
    justify-content: space-between;
    color: white;
    transition: 0.3s;}

.liia a:hover{
    background-color: #25AFFE;
    text-decoration: none;
    color: #fff;
    padding: 2px;
    border: 1px solid #25AFFE;
    transition: 0.3s;
    border-radius: 3%;
}


.cel{
    padding: 88px;
    color: #333;
    background-color: #333;
    transition: 0.3s;
    margin: 0px auto;
    text-align: center;
}

.cella{
    color: #25AFFE;
    text-align: center;
    font-size: larger;
    font-weight: 500;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
-moz-animation: glow 1s ease-in-out infinite alternate;
animation: glow 1s ease-in-out infinite alternate;
}

.video-container {
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
}

.video-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@-webkit-keyframes glow{
from {
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073;
}
to {
  text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6;
}
}

.tuktuk{
    background-image: linear-gradient(to right,#12dde4,#25AFFE)!important;
    padding: 64px 0;
    position: relative;
}

.rovasiras{
    color: #fff!important;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 10px;
    letter-spacing: -1.056px;
    text-align: center;
}

.iop{
        margin: 0 auto;
        max-width: 1440px;
}

.partner{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 37px;
}

.brand{
    max-width: 11.985714%;
    max-height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

figure{
    margin: 0 0 1rem;
}

.imgindex{
    max-width: 100%;
    max-height: 60px;
    object-fit: contain;
    justify-content: center;
}

.accordionn {
    margin: 20px auto; 
    max-width: 100%; 
    width: 90%; 
}

.accordionn li {
    list-style: none;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border-radius: 8px;
    background: #e3edf7;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}

.accordionn li label {
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

label::before {
    content: '+';
    margin-right: 10px;
    font-size: 24px;
    font-weight: 600;
}

input[type="checkbox"] {
    display: none;
}

.accordionn .moree {
    color: #555;
    padding: 0 10px;
    line-height: 26px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s, padding 0.5s;
}

.accordionn input[type="checkbox"]:checked + label + .moree {
    max-height: 400px;
    padding: 10px 10px 20px;
}

.accordionn input[type="checkbox"] + label::before {
    content: '+';
}

.accordionn input[type="checkbox"]:checked + label::before {
    content: '-';
}

.accordionn input[type="checkbox"]:not(:checked) + label + .moree {
    max-height: 0;
    padding: 0;
}

.floating-btn {
    display: none;
}

@media screen and (min-width: 768px) {
    .accordionn {
        max-width: 600px;
    }

    .floating-btn {
        display: block;
        position: fixed;
        right: -80px;
        background: linear-gradient(90deg, #12e0e7 .23%, #25AFFE 99.72%);
        padding: 8px 20px;
        transform: rotate(90deg);
        z-index: 2;
        border-radius: 0 0 10px 10px;
        top: 50%;
    }
}

.floatbut{
    text-align: center;
}

.floatbut a{
    flex-wrap: nowrap;
    margin: 0 auto;
    cursor: pointer;
    align-items: center;
    justify-content: space-between;
    color: white;}

.floatbut a:hover{
    background-color: #25AFFE;
    text-decoration: none;
    color: #fff;
    padding: 2px;
    border: 1px solid #25AFFE;
    transition: 0.3s;
    border-radius: 3%;
}


.egyenloseg{
    color: #fff;
    font-size: 24px;
    text-decoration: none;
    display: inline-block;
    font-weight: 700;
    transition: all .25s ease-in-out;
}

.bodyclass{
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    place-items: center;
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
}

.bodyclass h1{
    margin-bottom: 2rem;
}

.bodyclass form{
    display: flex;
    flex-direction: column;
    width: 24rem;
    gap: 1rem;
}

.bodyclass input,
select,
textarea{
    padding: 1.4rem;
    background: transparent;
    border: 1px solid black;
}

.bodyclass textarea{
    height: 6rem;
}

.bodyclass button{
    width: 8rem;
    padding: 1.4rem;
    cursor: pointer;
    background: #673de6;
    color: white;
    text-align: center;
}

.liii{
    text-align: center;
    color: white;
    font-size: 800;
    font-weight: 600;
    padding: 45px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: underline;
}

.liiaa{
    text-align: center;
    color: white;
    font-size: 30px;
    font-weight: 600;
    padding: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: block;
}

.liiaa a{
    flex-wrap: nowrap;
    margin: 0 auto;
    cursor: pointer;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.liiaa a:hover{
    background-color: #d20b36;
    text-decoration: none;
    color: #fff;
    padding: 5px;
    border: 1px solid #d20b36;
    transition: 0.3s;
    border-radius: 50%;
}

.ujdonsagokhatter{
    background-image: url(html-color-codes-color-tutorials-hero.jpg);
    padding-top: 110px;
    padding-bottom: 110px;
    border: 1px solid #fff;
    text-align: center;
}

.tenyleghatter{
    background-image: url(uji.png);
    padding-top: 135px;
    padding-bottom: 135px;
    border: 1px solid #fff;
    text-align: center;
}

.footerhover{
    color: white;
    display:inline;
}

.footerhover a{
    flex-wrap: nowrap;
    margin: 0 auto;
    cursor: pointer;
    align-items: center;
    justify-content: space-between;
    color: white;
    transition: 0.5s;}

.footerhover a:hover{
    background-color: #25AFFE;
    text-decoration: none;
    color: #fff;
    padding: 0px;
    border: 1px solid #25AFFE;
    transition: 0.3s;
    border-radius: 3%;
}