#kepre{
    width: 200px;
height: 150px;
margin-top: 0px;
}


#kezdes{
    text-align: center;
    color:black;
    padding: 20px;
}

#sorolas{
    color:dodgerblue;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    width: 650px;
    border: 5px #333;
    padding: 50px;
    margin: 20px;
    text-align: center;
    background-color: #333;

}

#sorolaskezdes{
    color:dodgerblue;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    width: 200px;
    border: 5px #333;
    padding: 50px;
    margin: 20px;
    text-align: center;
    background-color: #333;

}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

#kezdolap, #parancsok, #rolunk {
    margin-bottom: 40px;
}

#kkkk{
    text-align: center;
    padding: 20px;

}

#pepe{
    text-align: center;
    font-style: italic;
    font-size:700;
    
}

.profile-container {
    background-image: url(pet1.jpg);
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 150px;
    border: 1px solid #333
}

.profile {
    
    max-width: 30%;
}

.command-box {
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    border-radius: 5px;
    padding-right: 100px;
    text-align: center;
    font-size: larger;
    padding-top: 70px;
}

.command {
    font-family: monospace;
    margin-bottom: 10px;
    color:white
}

#kepborito{
    border: #333 5px solid 
}

.button-invite {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
background-color: dodgerblue;
width: 200px;
height: 50px;
font-size: 20px;
font-weight: 700;
line-height: 36px;
color: white;
z-index: 1;
font-family: Arial, Helvetica, sans-serif;
margin-right: 20px;
border-radius: 5px;
text-decoration: none;
}

#valami{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 17%;
    transition: 1s;
}
#valami img{
    display: block;
    width: 100%;
    border-radius: 5px;
}

#valami:hover{
transform: scale(1.1);
z-index: 2;
}

.indexbetuk {
    color: #333;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 650;
    text-align: center;

}

.body-color{
    background-color: rgb(49, 175, 255);
}

.nevek{
    text-align: center;
    font-weight: 750;
    font-style: oblique;
    color:aqua
}

.mostra{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 800;
    padding: 5px;
    text-decoration: underline;
    font-weight: 600;
}
.dar{
    margin-left: 50px;
}
.bar{
    margin-right: 20px;
}

.nagybau{
    background-image: url(dc.png);
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 150px;
    border: 1px solid #333
}

.lii{
    text-align: center;
    color: white;
    font-size: 800;
    font-weight: 600;
    padding: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: underline;
}

.pepepopo{
    background-image: url(indexbg.jfif);
    padding: 160px;
    border: 1px solid #333;
}

.ww {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 650;
    text-align: center;

}

.ujdonsagokhatter{
    background-image: url(uji.png);
    padding-top: 77px;
    border: 1px solid #fff
}

.ujh1{
    text-align: center;
    padding: -10px;
    font-size: 40px;
}

.ujh2{
    text-align: justify;
    color: #333;
    text-align: center;
    padding: 10px;
    font-size: 40px;
}

.ujh2bot{
    text-align: justify;
    color: #333;
    text-align: left;
    padding: 10px;
    font-size: 40px;
}
.ujh2jatek{
    text-align: justify;
    color: #333;
    text-align: right;
    padding: 10px; 
    font-size: 40px;
}

.pjobb{
    text-align: right;
    color: #333;
    text-decoration:underline overline;
    font-size: 20px;
    transition: 0.3s;
}

.pbal{
    text-align: left;
    color: #333;
    text-decoration:underline overline;
    font-size: 20px;
    transition: 0.3s;
}

.pkozep{
    text-align: center;
    color: #333;
    text-decoration:underline overline;
    font-size: 20px;
    transition: 0.3s;
}

.ppkepre{
    width: 400px;
    height: auto;
    padding: 10px;
    max-width: 400px;
    transition: 0.3s;
}

.ppkepre img{
    display: block;
    width: 100%;
    border-radius:5px ;
}

.ppkepre:hover{
    transform: scale(1.2);
    z-index: 2;
}

.footer-city {
    text-decoration: none;
    color: white;
}

.hattergyik{
    background-image: url(peee.jpg);
    padding: 100px;
    border: 1px solid #fff
}

.div1{
    text-align: center;
    color: #fff;
    font-size: larger;
    font-variant: small-caps;
}

.kemenydiv{
    text-align:center;
    padding: -10px;
    font-size: 40px;
    color:#fff;
}
.dcc{
    text-align: center;
    font-size: 40px;
    color:#fff;
    font-weight: 700;
    padding-left: 10px;
}

.t3hatter{
    background-image: url(ujb.jpg);
    border: 1px solid #fff;
    padding: 500px;
}

.gyorkekep{
    padding-left: 150px;
}

.parsec{
    text-align: center;
    color: white;
    font-size: 800;
    font-weight: 600;
}

#hatterss{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 250px;
    height: auto;
    padding: 2px 10px;
    min-width: 100px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

#hatterss img{
    display: block;
    width: 100%;
    border-radius:5px;
}

#hatterss:hover{
    transform: scale(1.5);
    z-index: 2;
}
.h1okos{
    color: white;
    font-size: 2vw;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

ul li ul.dropdown li{
    display: block;
}
ul li ul.dropdown{
    width: 100%;
    background-color:  #333;
    position: absolute;
    z-index: 999;
    display: none;
}
ul li a:hover{
    background: #333;
}
ul li:hover ul.dropdown{
    display: block;
}
.miniimage{
    width: 20px;
    border-radius: 20%;
    border: 20px;
}
.wensi{
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2s;
    cursor: .4s step-end infinite alternate;
    -webkit-text-stroke: 0.03vw #25AFFE;
}

@keyframes cursor{
    50%{ border-color: transparent;}
}

@keyframes typing{
    from {width: 0;}
}

.hattereaster{
    background-image: url(268451.jpg);
    border: 1px solid #fff;
    padding: 100px;
}

.ujjj{
    rotate: 30deg;
}

.ujh11{
    text-align: center;
    padding: 10px;
    font-size: 40px;
    padding-top: 50px;
    padding-bottom: 30px;
    color: #fff;
}

.easter{
    text-align: center;
    color: #fff;
    padding-top: 20px ;
    padding-bottom:20px ;
}

.geri{
    margin: auto;
    margin-left: auto;
    display: block;
    margin-right: auto;
    width: 200px;
    animation: typing 2s;
    cursor: .4s step-end infinite alternate;
}

.geri img{
    display: block;
    width: 100%;
    border-radius:5px ;
}

.geri:hover{
    transform: scale(11.5);
    z-index: 2;
}

.easters{
    text-align: center;
    color: #fff;
    padding-top: 20px ;
    padding-bottom:20px ;
    border: 10px black;
    padding: 10px;
    margin: 10px;
    width: 100%;
}
