#kepre{
    width: 200px;
height: 150px;
margin-top: 0px;
}


#kezdes{
    text-align: center;
    color:black;
    padding: 20px;
}

#sorolas{
    color:dodgerblue;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    width: 650px;
    border: 5px #333;
    padding: 50px;
    margin: 20px;
    text-align: center;
    background-color: #333;

}

#sorolaskezdes{
    color:dodgerblue;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    width: 200px;
    border: 5px #333;
    padding: 50px;
    margin: 20px;
    text-align: center;
    background-color: #333;

}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

#kezdolap, #parancsok, #rolunk {
    margin-bottom: 40px;
}

#kkkk{
    text-align: center;
    padding: 20px;

}

#pepe{
    text-align: center;
    font-style: italic;
    font-size:700;
    
}

.profile-container {
    background-image: url(pet.jpg);
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 150px;
    border: 1px solid #333
}

.profile {
    
    max-width: 30%;
}

.command-box {
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    border-radius: 5px;
    padding: 20px;
    padding-right: 100px;
    text-align: center;
    font-size: larger;
}

.command {
    font-family: monospace;
    margin-bottom: 10px;
    color:white
}

#kepborito{
    border: #333 5px solid 
}

.button-invite {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
background-color: dodgerblue;
width: 200px;
height: 50px;
font-size: 20px;
font-weight: 700;
line-height: 36px;
color: white;
z-index: 1;
font-family: Arial, Helvetica, sans-serif;
margin-right: 20px;
border-radius: 5px;
text-decoration: none;
}

#valami{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 17%;
}

.indexbetuk {
    color: #333;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 650;
    text-align: center;

}

.body-color{
    background-color: rgb(49, 175, 255);
}

.nevek{
    text-align: center;
    font-weight: 750;
    font-style: oblique;
    color:aqua
}

.mostra{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 800;
    padding: 5px;
    text-decoration: underline;
    font-weight: 600;
}
.dar{
    margin-left: 50px;
}
.bar{
    margin-right: 20px;
}

.nagybau{
    background-image: url(dc.png);
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 150px;
    border: 1px solid #333
}

.lii{
    text-align: center;
    color: white;
    font-size: 800;
    font-weight: 600;
    padding: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: underline;
}

.pepepopo{
    background-image: url(indexbg.jfif);
    padding: 160px;
    border: 1px solid #333
}

.ww {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 650;
    text-align: center;

}

.ujdonsagokhatter{
    background-image: url(uji.png);
    padding: 50px;
    border: 1px solid #fff
}

.ujh1{
    text-align: center;
    padding: -10px;
    font-size: 40px;
}

.ujh2{
    text-align: justify;
    color: #333;
    text-align: center;
    padding: 10px;
    font-size: 40px;
}

.ujh2bot{
    text-align: justify;
    color: #333;
    text-align: left;
    padding: 10px;
    font-size: 40px;
}
.ujh2jatek{
    text-align: justify;
    color: #333;
    text-align: right;
    padding: 10px; 
    font-size: 40px;
}

.pjobb{
    text-align: right;
    color: #333;
    text-decoration:underline overline;
    font-size: 20px;
}

.pbal{
    text-align: left;
    color: #333;
    text-decoration:underline overline;
    font-size: 20px;
}

.pkozep{
    text-align: center;
    color: #333;
    text-decoration:underline overline;
    font-size: 20px;
}

.ppkepre{
    width: 450px;
    height: auto;
}

.footer-city {
    text-decoration: none;
    color: white;
}

.hattergyik{
    background-image: url(peee.jpg);
    padding: 100px;
    border: 1px solid #fff
}

.div1{
    text-align: center;
    color: #fff;
    font-size: larger;
    font-variant: small-caps;
}

.kemenydiv{
    text-align:center;
    padding: -10px;
    font-size: 40px;
    color:#fff;
}
.dcc{
    text-align: center;
    font-size: 40px;
    color:#fff;
    font-weight: 700;
    padding-left: 10px;
}

.t3hatter{
    background-image: url(ujb.jpg);
    border: 1px solid #fff;
    padding: 500px;
}

.gyorkekep{
    padding-left: 150px;
}